@charset "utf-8";

/* 슬라이더 컨테이너 (팝업 모드) */
.vertical-container{
    top: 50%;
    margin-top: -200px;/* half of content height*/
}
.vertical-content {
    height: 400px;
}

.slider-popup-container {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
}
.slider-popup-container .slick-dots {
    position: fixed !important;
    bottom: inherit !important;
}

.slick-slide img {display: inline; vertical-align: top}